#touchSideSwipe {
    display: none;
}
#touchSideSwipe.tss_wrapped {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.tss {
    z-index: 9999;
    position: fixed;
    will-change: transform;
    top: 0;
    left: 0;
    height: 100%;
}
.tss--open {

}
.tss--close {

}
.tss_bg {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    will-change: opacity;
}
.tss_bg--open {
    opacity: 0.8;
    z-index: 999;
}
.tss_bg--close {
    opacity: 0;
    z-index: -10;
}
.tss--transition {
    transition: all .2s ease;
}
.tss-zindex999 {
    z-index: 999;
}
@media (max-width: 500px) {
    .is-navOpen .navbar-label-wrap {
        left: 85%;
    }
}
@media (max-width: 1023px) {
    .navbar-label-wrap {
        z-index: 99999;
        width: 42px;
        height: 40px;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }
    .is-navOpen .navbar-label-wrap {
        left: 420px;
    }
    .navbar-label {
        width: 27px;
        height: 20px;
        background-repeat: repeat-x;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAUCAYAAAB8gkaAAAAACXBIW…H8xMRARzB8LWOBheewA4yjSX806Y8m/dGkP5r0BzbpAwB43B4ZvJqJpwAAAABJRU5ErkJggg==);
        /* transition: all .3s linear; */
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        display: block;
        margin: 5px auto;
        transition: all .3s ease;
    }
}